html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 1024px;
    margin: 0 auto;
}

.logo {
    height: 140px;
    background: lightcyan;
    text-align: center;
}

nav {
    background: lightblue;
    padding: 10px;
}

nav li {
    display: inline-block;
    margin: 0 10px 0 0;
}

nav li:hover, .menu li:hover {
    background: aquamarine;
}

header ul, footer ul, .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    margin: 0 0 10px 0;
}

nav a:link, .menu a:link {
    text-decoration: none;
    color: black;
}

.container {
    margin: 20px 0;
    width: 100%;
}

.container > * {
    display: inline-block;
}

.menu {
    width: 12%;
    padding: 0 10px 20px 10px;
    float: left;
}

main {
    padding: 0 10px 10px 10px;
    width: 53%;
    margin: 0 2%;
}

.news {
    padding: 0 10px 20px 10px;
    width: 25%;
    float: right;
}

.news article {
    background-color: aliceblue;
}

.menu, main, .news {
    background: lightgray;
}

footer {
    padding: 10px;
    background: lightblue;
}